@use 'colors';
@use 'animation-mixins' as *;

.icon {

  @include transition(all, $fast-duration);

  // Colors
  &__primary {
    color: var(--color-primary);
  }

  &__secondary {
    color: var(--color-secondary);
  }

  &__tertiary {
    color: var(--color-tertiary);
  }

  &__error {
    color: var(--color-on-error);
  }

  // Sizes
  &__sm {
    height: 1.5rem;
    width: 1.5rem;

    &:hover {
      scale: 1.2;
    }
  }

  &__md {
    height: 3rem;
    width: 3rem;
  }

  &__lg {
    height: 4.5rem;
    width:  4.5rem;
  }

}