@use 'colors';
@use 'animation-mixins' as *;

:host {
  display: contents;
}

.icon {

  @include transition(all, $fast-duration);
  display: inline-flex;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  // Colors
  &__primary {
    color: var(--color-primary);
  }

  &__secondary {
    color: var(--color-secondary);
  }

  &__tertiary {
    color: var(--color-tertiary);
  }

  &__error {
    color: var(--color-on-error);
  }




  // Sizes
  &__sm {
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
      scale: 1.2;
    }
  }

  &__md {
    width: 3rem;
    height: 3rem;
  }

  &__lg {
    width: 4.5rem;
    height: 4.5rem;
  }

  &__flexible {
    width: 100%;
    height: 100%;
  }

}