@mixin transitionScale(
  $scale,
  $duration: .5s
) {
  transition: transform $duration cubic-bezier(.34, 1.56, .64, 1);
  transform: scale($scale);
}

@mixin fadeIn($duration: .5s) {
  transition: opacity $duration ease-in-out;
  opacity: 1;
}
