<div class="editPanel">
  <div class="editPanel__titles">
    <h3>{{ block().name | blockNameFormatter: 'Empty block' }}</h3>
    <p>{{ block().type }} · Position {{ block().position }}</p>
  </div>

  <div class="editPanel__controls">
    @let notEnabled = !block().enabled;
    @let enableBlockText = notEnabled ? 'Enabled' : 'Disabled';

    <!-- ENABLED AND DISABLED BLOCKS -->
    <app-edit-block-button
      [title]="enableBlockText"
      [subTitle]="`${enableBlockText} block`"
      [style]="notEnabled ? 'success' : 'error'"
      [icon]="
        notEnabled ? `${feedBackIconsPath}/on-block.svg` : `${feedBackIconsPath}/off-block.svg`
      "
      (click)="selectOption.emit(OPTIONS.ENABLED_DISABLED_BLOCK)"
    ></app-edit-block-button>
  
    <!-- CLEAR / UNLOCK BLOCK -->
    <app-edit-block-button
      title="Clear block"
      subTitle="Remove any block from your preset"
      [style]="'secondary'"
      [icon]="feedBackIconsPath + '/remove-block.svg'"
      (click)="selectOption.emit(OPTIONS.CLEAR_BLOCK)"
    ></app-edit-block-button>


    <!-- REPLACES BLOCKS -->
    <app-edit-block-button
      title="Replace"
      subTitle="With wah block"
      [style]="BLOCK_CATEGORIES.WAH_BLOCK"
      [icon]="BLOCK_ICON_MAP[BLOCK_CATEGORIES.WAH_BLOCK]"
      (click)="selectOption.emit(OPTIONS.REPLACE_WITH_WAH)"
    ></app-edit-block-button>

    <app-edit-block-button
      title="Replace"
      subTitle="With volume block"
      [style]="BLOCK_CATEGORIES.VOLUME_BLOCK"
      [icon]="BLOCK_ICON_MAP[BLOCK_CATEGORIES.VOLUME_BLOCK]"
      (click)="selectOption.emit(OPTIONS.REPLACE_WITH_VOLUME)"
    ></app-edit-block-button>

    <app-edit-block-button
      title="Replace"
      subTitle="With EQ Block"
      [style]="BLOCK_CATEGORIES.EQ"
      [icon]="BLOCK_ICON_MAP[BLOCK_CATEGORIES.EQ]"
      (click)="selectOption.emit(OPTIONS.REPLACE_WITH_EQ)"
    ></app-edit-block-button>

    <app-edit-block-button
      title="Replace"
      subTitle="With Fx Loop"
      [style]="BLOCK_CATEGORIES.FX_LOOP"
      [icon]="BLOCK_ICON_MAP[BLOCK_CATEGORIES.FX_LOOP]"
      (click)="selectOption.emit(OPTIONS.REPLACE_WITH_FX_LOOP)"
    ></app-edit-block-button>
  </div>
</div>
