@let name = blockData().name;
@let enabled = blockData().enabled;

<div
  class="effectBlock"
  [class]="classStyleByType()"
  [class.effectBlock--bypassed]="!enabled"
  (click)="emitTappedBlock()"
  (contextmenu)="emitContextMenuBlock($event)"
>
  <div class="effectBlock__pedal">
    <div class="effectBlock__icon" tabindex="0" role="button">
      <app-icon [url]="iconByType()" [label]="name" size="flexible" />
    </div>

    <span
      class="effectBlock__led"
      [attr.aria-label]="enabled ? 'Enabled' : 'Bypassed'"
      role="img"
    ></span>
  </div>

  @let displayName = name | blockNameFormatter: 'Empty Block';

  <p class="effectBlock__name" [title]="displayName">{{ displayName }}</p>
</div>
