@use 'layout-mixins' as *;
@use 'animation-mixins' as *;
@use 'colors' as *;


.effectBlock {
    cursor: pointer;
    font-size: 0.8rem;
    @include flex(center, center, column);

    &__name {
        margin-top: 0.5rem;
        @include transition(transform color, $fast-duration)
    }

    &__icon {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        @include flex();
        @include transition(scale background-color border-color, $fast-duration);
        padding: 1.225rem;

        &:focus-visible {
            outline-offset: 2px;
        }
    }


    &:hover {
        .effectBlock__icon {
            scale: 1.05;
        }

        .effectBlock__name {
            transform: translateY(-2px);
        }
    }
}

$categories: 'dist', 'dynamic', 'eq', 'modulation', 'delay', 'reverb', 'pitch', 'filter', 'looper', 'wah', 'volume', 'fx_loop', 'empty', 'amp-cab-ir', 'unknown';


@each $category in $categories {
  .effectBlock__#{$category} {
    color: var(--color-on-#{$category}-container);

    .effectBlock__icon {
      border: 2px solid var(--color-#{$category}-container);
      background-color: var(--color-on-#{$category});
      color: var(--color-on-#{$category}-container);
    }

    &:hover {
      .effectBlock__name {
        color: var(--color-#{$category});
      }

      .effectBlock__icon {
        background-color: var(--color-#{$category}-container);
        border-color: var(--color-on-#{$category}-container);
      }
    }
  }
}

// Reset for pedal icons:
:host ::ng-deep {
  .icon {
    display: inline-flex;
  }
}