@use 'theme';
@use 'layout-mixins' as *;


.footer {
  background-color: var(--color-surface-container);
  color: var(--color-on-surface-variant);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  @include flex(center, center, column);
  gap: 0.3rem;
  background-image: linear-gradient(to bottom, var(--color-surface-container-high), var(--color-surface-container));

  &__social {
    margin-top: 0.5rem;
    color: var(--color-primary);
    @include flex();
    gap: 1rem;
  }

  &__copyright {
    margin-top: 1rem;
    font-size: 0.8rem;
  }

}