$color-variants: 
    primary,
    secondary,
    tertiary,
    error,
    info,
    warning,
    success;



:root {

    // Primary colors
    --color-primary: rgb(255 181 160);
    --color-surface-tint: rgb(255 181 160);
    --color-on-primary: rgb(86 31 15);
    --color-primary-container: rgb(114 53 35);
    --color-on-primary-container: rgb(255 219 209);

    // Secondary colors
    --color-secondary: rgb(231 189 178);
    --color-on-secondary: rgb(68 42 34);
    --color-secondary-container: rgb(93 64 55);
    --color-on-secondary-container: rgb(255 219 209);

    // Tertiary colors
    --color-tertiary: rgb(216 197 141);
    --color-on-tertiary: rgb(59 47 5);
    --color-tertiary-container: rgb(83 70 25);
    --color-on-tertiary-container: rgb(245 225 167);

    // Status colors
    --color-success: rgb(162 211 153);
    --color-on-success: rgb(12 57 14);
    --color-success-container: rgb(37 80 35);
    --color-on-success-container: rgb(189 240 179);

    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);

    // Background colors
    --color-background: rgb(26 17 15);
    --color-on-background: rgb(241 223 218);

    // Surface colors
    --color-surface: rgb(26 17 15);
    --color-on-surface: rgb(241 223 218);
    --color-surface-variant: rgb(83 67 63);
    --color-on-surface-variant: rgb(216 194 188);

    // Surface containers
    --color-surface-dim: rgb(26 17 15);
    --color-surface-bright: rgb(66 55 52);
    --color-surface-container-lowest: rgb(20 12 10);
    --color-surface-container-low: rgb(35 25 23);
    --color-surface-container: rgb(39 29 27);
    --color-surface-container-high: rgb(50 40 37);
    --color-surface-container-highest: rgb(61 50 47);

    // Borders
    --color-outline: rgb(160 140 135);
    --color-outline-variant: rgb(83 67 63);

    // Inverse colors
    --color-inverse-surface: rgb(241 223 218);
    --color-inverse-on-surface: rgb(57 46 43);
    --color-inverse-primary: rgb(143 76 56);

    // Fixed colors
    --color-primary-fixed: rgb(255 219 209);
    --color-on-primary-fixed: rgb(58 11 1);
    --color-primary-fixed-dim: rgb(255 181 160);
    --color-on-primary-fixed-variant: rgb(114 53 35);

    --color-secondary-fixed: rgb(255 219 209);
    --color-on-secondary-fixed: rgb(44 21 15);
    --color-secondary-fixed-dim: rgb(231 189 178);
    --color-on-secondary-fixed-variant: rgb(93 64 55);

    --color-tertiary-fixed: rgb(245 225 167);
    --color-on-tertiary-fixed: rgb(35 27 0);
    --color-tertiary-fixed-dim: rgb(216 197 141);
    --color-on-tertiary-fixed-variant: rgb(83 70 25);

    // Utility colors
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);


    //- Extended colors:

    /* Distortion */
    --color-dist: rgb(252 185 116);
    --color-on-dist: rgb(73 41 0);
    --color-dist-container: rgb(105 60 0);
    --color-on-dist-container: rgb(255 220 189);

    /* Dynamic */
    --color-dynamic: rgb(224 196 109);
    --color-on-dynamic: rgb(60 47 0);
    --color-dynamic-container: rgb(86 69 0);
    --color-on-dynamic-container: rgb(254 224 134);

    /* EQ */
    --color-eq: rgb(217 199 111);
    --color-on-eq: rgb(57 48 0);
    --color-eq-container: rgb(82 71 0);
    --color-on-eq-container: rgb(246 227 136);

    /* Modulation */
    --color-modulation: rgb(196 192 255);
    --color-on-modulation: rgb(44 41 96);
    --color-modulation-container: rgb(67 64 120);
    --color-on-modulation-container: rgb(227 223 255);

    /* Delay */
    --color-delay: rgb(163 211 152);
    --color-on-delay: rgb(13 56 14);
    --color-delay-container: rgb(37 80 34);
    --color-on-delay-container: rgb(190 240 178);

    /* Reverb */
    --color-reverb: rgb(137 208 237);
    --color-on-reverb: rgb(0 53 69);
    --color-reverb-container: rgb(0 77 98);
    --color-on-reverb-container: rgb(186 234 255);

    /* Pitch */
    --color-pitch: rgb(255 176 201);
    --color-on-pitch: rgb(84 29 51);
    --color-pitch-container: rgb(111 51 73);
    --color-on-pitch-container: rgb(255 217 226);

    /* Filter */
    --color-filter: rgb(221 198 110);
    --color-on-filter: rgb(58 48 0);
    --color-filter-container: rgb(84 70 0);
    --color-on-filter-container: rgb(250 226 135);

    /* Looper */
    --color-looper: rgb(255 181 153);
    --color-on-looper: rgb(85 32 9);
    --color-looper-container: rgb(113 54 29);
    --color-on-looper-container: rgb(255 219 206);

    /* Wah */
    --color-wah: rgb(209 188 253);
    --color-on-wah: rgb(55 38 93);
    --color-wah-container: rgb(78 61 117);
    --color-on-wah-container: rgb(234 221 255);

    /* Amp & Cab IR */
    --color-amp-cab-ir: rgb(255 179 181);
    --color-on-amp-cab-ir: rgb(86 29 34);
    --color-amp-cab-ir-container: rgb(115 51 55);
    --color-on-amp-cab-ir-container: rgb(255 218 218);

    /* Volume */
    --color-volume: rgb(128 212 212);
    --color-on-volume: rgb(0 55 55);
    --color-volume-container: rgb(0 79 80);
    --color-on-volume-container: rgb(156 241 241);

    /* FX Loop */
    --color-fx_loop: rgb(160 202 253);
    --color-on-fx_loop: rgb(0 50 88);
    --color-fx_loop-container: rgb(25 73 117);
    --color-on-fx_loop-container: rgb(209 228 255);

    /* Empty Slot */
    --color-empty: rgb(130 130 130);
    --color-on-empty: rgb(30 30 30);
    --color-empty-container: rgb(45 45 45);
    --color-on-empty-container: rgb(180 180 180);

    /* Unknown Slot */
    --color-unknown: rgb(222 178 246);
    --color-on-unknown: rgb(64 34 85);
    --color-unknown-container: rgb(89 57 110);
    --color-on-unknown-container: rgb(243 216 255);
}