<header class="header">
  <div class="header__top">
    <div class="header__brand">
      <span class="header__logoPlate">
        <app-icon [size]="'flexible'" [url]="identityIconsPath + '/pod-go-unlocked.svg'"></app-icon>
      </span>

      <span class="header__brandText">
        <h3 class="header__title">PodGo<span class="header__titleAccent">-Unlocked</span></h3>
        <p class="header__claim">Bypassing DSP limits!</p>
      </span>
    </div>

    <button
      type="button"
      class="header__navToggle"
      aria-controls="header-nav"
      aria-label="Toggle navigation menu"
      [attr.aria-expanded]="menuExpanded()"
      (click)="toggleExpandedMenu()"
    >
      <app-icon [size]="'sm'" [url]="feedbackIconsPath + toggleIcon()"></app-icon>
    </button>
  </div>

  <nav id="header-nav" class="header__nav" [class.header__nav--expanded]="menuExpanded()">
    <div class="header__navWrapper">
      <ul class="header__tabs">
        @for (item of navItems; track item.id) {
          <li class="header__tabsItem">
            <button
              type="button"
              class="header__tab"
              [class.header__tab--active]="activeNavItem()?.id === item.id"
              [attr.aria-current]="activeNavItem()?.id === item.id ? 'page' : null"
              (click)="selectNavItem(item)"
            >
              <app-icon [size]="'sm'" [url]="feedbackIconsPath + item.icon"></app-icon>
              <span class="header__tabLabel">{{ item.label }}</span>
            </button>
          </li>
        }
      </ul>
    </div>
  </nav>
</header>
